<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/managerpro?serverTimezone=UTC</property>
        <property name="connection.username">manager</property> <!-- Use the actual User Name for Your database -->
        <property name="connection.password">manager</property> <!-- No passwd added by default -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <property name="hbm2ddl.auto">drop</property>
        <property name="hbm2ddl.auto">create</property>
        <mapping class="managerprodb.entities.Contacts"/>
        <mapping class="managerprodb.entities.Countries"/>
        <mapping class="managerprodb.entities.Currencies"/>
        <mapping class="managerprodb.entities.Suppliers"/>
        <mapping class="managerprodb.entities.Customers"/>
        <mapping class="managerprodb.entities.Employee"/>
        <mapping class="managerprodb.entities.PayTerms"/>
        <mapping class="managerprodb.entities.EmployeeDepartments"/>
        <mapping class="managerprodb.entities.Projects"/>
        <mapping class="managerprodb.entities.ProjectStatus"/>
        <mapping class="managerprodb.entities.ProjectType"/>
        <mapping class="managerprodb.entities.Items"/>
        <mapping class="managerprodb.entities.VATValues"/>
        <mapping class="managerprodb.entities.Stocks"/>
        <mapping class="managerprodb.entities.ItemType"/>


    </session-factory>
</hibernate-configuration>
