<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head >
</head>
<body>
    <div th:fragment="quotationtStatus_modals">
        <!--#Modal form for user update-->
        <div class="quotationStatusFormUpdate">
            <form class="form-signin" th:action="@{save}" method="post">
                <div class="modal fade" data-backdrop="static" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateModalLabel">Update Quotation Status</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <h6 style="font-weight: bold">Main Information</h6>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="quotationStatusId" name="quotationStatusId" value="" />
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <input type="text" class="form-control" id="quotationStatusName" name="quotationStatusName" placeholder="Quotation status">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-link float-right" type="submit" data-toggle="tooltip" data-placement="top" title="Save">
                                    <i class="material-icons-outlined md-36">save_alt</i>
                                </button>
                                <button type="button" class="btn btn-link" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Close">
                                    <i class="material-icons-outlined md-36">close</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--End update form-->
        <!--#Modal for user create-->
        <div class="quotationStatusFormCreate">
            <form class="form-signin" th:action="@{save}"  method="post">
                <div class="modal fade" data-backdrop="static" id="quotationStatusModalCreate" tabindex="-1" role="dialog" aria-labelledby="modalLabelCreate" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabelCreate">Create Quotation Status</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <h6 style="font-weight: bold">Main Information</h6>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <input type="text" class="form-control" id="quotationStatusName" name="quotationStatusName" placeholder="Quotation status">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-link float-right" type="submit" data-toggle="tooltip" data-placement="top" title="Save">
                                    <i class="material-icons-outlined md-36">save_alt</i>
                                </button>
                                <button type="button" class="btn btn-link" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Close">
                                    <i class="material-icons-outlined md-36">close</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--End form-->
    </div>
</body>
<script type ="text/javascript" th:src="@{/js/quotationstatusdatatable.js}" src="../../static/js/quotationstatusdatatable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>
