<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout :: head"></head>
<title>Admin Panel</title>
<body>

    <div th:replace="fragments/layout :: vertical_navbar"></div>

    <div class="container border-right" style="width: 20rem; height: 100vh; left: 5rem; position: fixed;">
        <div class="container py-4 px-3 mb-1">
            <h3><span class="material-icons-outlined">settings</span> Settings</h3>
            <hr>
            <p>
                Welcome Back <span sec:authentication="principal.username" style="font-weight: bold"></span>!
            </p>
            <hr>
        </div>
        <div class="container py-0 px-3 mb-1">
            <h5>Edit</h5>
            <div><a th:href="@{/settings/countries/list}" class="btn" data-toggle="tooltip" data-placement="top" title="List of Countries">List of Countries</a></div>
            <div><a th:href="@{/settings/currencies/list}" class="btn" data-toggle="tooltip" data-placement="top" title="List of Currencies">List of Currencies</a></div>
            <div><a th:href="@{/settings/departments/list}" class="btn" data-toggle="tooltip" data-placement="top" title="List of Departments">List of Departments</a></div>
            <div><a th:href="@{/settings/payterms/list}" class="btn" data-toggle="tooltip" data-placement="top" title="Payment Terms List">Payment Terms List</a></div>
            <div><a th:href="@{/settings/projectstatuses/list}" class="btn" data-toggle="tooltip" data-placement="top" title="Project Statuses">Project Statuses</a></div>
            <div><a th:href="@{/settings/projecttypes/list}" class="btn" data-toggle="tooltip" data-placement="top" title="Project Types">Project Types</a></div>
            <div><a th:href="@{/settings/quotationstatuses/list}" class="btn" data-toggle="tooltip" data-placement="top" title="Quotation Statuses">Quotation Statuses</a></div>
            <div><a th:href="@{/settings/stocktypes/list}" class="btn" data-toggle="tooltip" data-placement="top" title="Stock Types">Stock Types</a></div>
            <div><a th:href="@{/settings/vatvalues/list}" class="btn" data-toggle="tooltip" data-placement="top" title="VAT Values">VAT Values</a></div>
        </div>
    </div>
    <div class="toolbar-page-content p-5">
        <div class="row">

        </div>


    </div>


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
</body>
</html>
