<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="layout :: head"></head>
<title>Contacts</title>
<body>

    <div th:replace="layout :: vertical_navbar"></div>

    <div class="page-content p-5">
        <div class="row">
            <h3><span class="material-icons-outlined">people</span> Contacts</h3>
            <div class="col d-flex justify-content-end">
                <a th:href="@{/contacts/addContact}" class="btn btn-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Add New Contact">
                    <i class="material-icons-outlined md-36">person_add</i></a>
                <a th:href="@{/contacts/list}" class="btn btn-link" data-bs-toggle="tooltip" data-bs-placement="top" title="List Contacts">
                    <i class="material-icons-outlined md-36">list</i>
                </a>
            </div>
        </div>
        <hr>
        <p>
            Welcome Back <span sec:authentication="principal.username"></span>!
        </p>
        <hr>
        <table class="table table-sm table-striped table-hover">
            <caption>List of Contacts</caption>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tempContacts : ${contacts}">
                <th th:text="${tempContacts.contactId}" scope="row"></th>
                <td th:text="${tempContacts.firstName + ' ' + tempContacts.middleName + ' ' + tempContacts.lastName}"></td>
                <td th:text="${tempContacts.addressLine1 + ', ' + tempContacts.addressLine2 + ', ' + tempContacts.city}"></td>
                <td th:text="${tempContacts.contactPhone}"></td>
                <td th:text="${tempContacts.contactEmail}"></td>
                <td>
                    <a th:href="@{/employees/update(id=${tempContacts.contactId})}" class="btn btn-link"
                       data-bs-toggle="tooltip" data-bs-placement="top" title="Update User">
                        <i class="material-icons-outlined">edit</i></a>
                    <a th:href="@{/employees/delete(id=${tempContacts.contactId})}" class="btn btn-link"
                       style="color: red" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete User"
                       onclick="if (!(confirm('Are you sure you want to delete this Contact?'))) return false">
                        <i class="material-icons-outlined">delete</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

<!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>
